.selector_setup {
  background: #ED6A5A !important;
  margin-bottom: 24px;
  padding: 12px;

  button {
    background: white;
    padding: 12px;

  }

}

.list-setups {
  width: 100%;
  text-align: center;

  td {
    padding: 12px;
  }

  thead {
    background: #5CA4A9;
    color: white;
    font-weight: bold;
  }

  tbody tr:hover {
    background: #9BC1BC;
    cursor: pointer;
  }
}

.action-btn {
  margin: 0 auto;
  position: absolute;
  background: white;
  border-radius: 8px;
  padding: 16px;
  left: 0;
  right: 0;
  max-width: 420px;
  box-shadow: 0 0 14px -4px black;

  .close-list-script {
    font-size: 24px;
    position: absolute;
    color: #5C75C8;

  }

  h2 {
    font-weight: bold;
    font-size: 32px;
    text-align: center;
    padding-bottom: 24px;
  }

  .setup-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 24px;

    i {
      font-size: 24px;
      background: #ED6A5A;
      color: white;
      padding: 18px;
      border-radius: 999px;
    }
  }

  .list-scripts {
    .script {
      display: flex;
      align-items: center;
      background: #5C75C8;
      padding: 12px 0;

      h3, p {
        color: white;
      }

      h3 {
        font-weight: bold;
      }

      &:hover {
        background: #ACACAC;

        h3, p {
          color: black;
        }
      }

      i {
        margin: 0 24px;
        font-size: 18px;
        background: #ED6A5A;
        color: white;
        padding: 12px;
        border-radius: 999px;
      }
    }

    .script:nth-child(odd) {
      background: #5C88BE;

      &:hover {
        background: #ACACAC;

        h3, p {
          color: black;
        }
      }
    }

  }
}